<div *ngIf="isLoggedIn; else loggedOut">Logged in as {{ roles }}.</div>

<ng-template #loggedOut>
  <div class="row col-sm-6">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="inputDiv">
        <div class="text-field text-field_floating-3">
          <input
            type="text"
            class="text-field__input"
            name="username"
            placeholder="Username"
            [(ngModel)]="form.username"
            #username="ngModel"
            required
          />
          <label class="text-field__label" for="username">Username</label>

          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors?.['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="text-field text-field_floating-3">
          <input
            type="password"
            class="text-field__input"
            name="password"
            placeholder="Password"
            [(ngModel)]="form.password"
            #password="ngModel"
            required
            minlength="6"
          />
          <label class="text-field__label" for="password">Password</label>
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
      </div>
      <div class="registerButton">
        <button class="menuButton">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</ng-template>
