#container {
  margin: auto;
  position: fixed;
  left: 200px;
  top: 150px;
  z-index: 35;
  width: 350px;
  height: 400px;
  box-shadow: 5px 5px 4px #0c0c0c;
  border-radius: 5px;
  background-color: white;
}
