<div *ngIf="isSignedUp; else signupForm">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
      font-size: 25px;
    "
  >
    Your registration is successful. Please login!
  </div>
</div>

<ng-template #signupForm>
  <div class="row col-sm-6">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="inputDiv">
        <div class="text-field text-field_floating-3">
          <input
            type="text"
            class="text-field__input"
            name="name"
            placeholder="Name"
            [(ngModel)]="form.name"
            #name="ngModel"
            required
          />
          <label class="text-field__label" for="name">Your name</label>
          <div *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors?.['required']">Name is required</div>
          </div>
        </div>
        <div class="text-field text-field_floating-3">
          <input
            type="text"
            class="text-field__input"
            name="username"
            placeholder="Username"
            [(ngModel)]="form.username"
            #username="ngModel"
            required
          />
          <label class="text-field__label" for="username">Username</label>
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="email.errors?.['required']">Username is required</div>
          </div>
        </div>
        <div class="text-field text-field_floating-3">
          <input
            class="text-field__input"
            type="email"
            id="email"
            name="email"
            placeholder="alexander@itchief.ru"
            [(ngModel)]="form.email"
            #email="ngModel"
            required
            email
          />
          <label class="text-field__label" for="email">Email</label>
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="text-field text-field_floating-3">
          <input
            type="password"
            class="text-field__input"
            name="password"
            placeholder="password"
            [(ngModel)]="form.password"
            #password="ngModel"
            required
            minlength="6"
          />
          <label class="text-field__label" for="password">Password</label>
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="email.errors?.['required']">Password is required</div>
            <div *ngIf="email.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
      </div>
      <div class="registerButton">
        <button class="menuButton">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert-warning">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</ng-template>
